
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */


/*==================================================================================*/
    
    /*      details.php         */


/*==================================================================================*/


/*=======================================*/
/* The side navigation menu */
/*=======================================*/
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    display: none;
    transition: 2s;
    z-index: 20; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(0, 0, 0, 0.2); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    justify-content: center;
    align-items: center; 
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    
  }


/*==================================================*/

#formaLogin,#formaSignUp{
    width: 30%;
    min-height: 60%;
    background: white;
    border: 3px solid #f1f1f1;
    border-radius: 20px;
    padding: 15px;
}



#formaSignUp p{
    font-size: 100%;
}

.container2 *{
    display: block;
    width: 100%;
}

.container2 h1{
    font-weight: 600;
    font-size: 200%;
}
.container2 p{
    margin-top: 15px;
    font-size: 100%;
}
.container2 label{
    font-size: 120%;
    font-weight: bold;
    margin: 5px 0px;
}
#formaLogin input[type=text],#formaSignUp input[type=text],#formaLogin input[type=file],input[type=password],select{
    width: 100%;
    padding: 10px;
    margin: 10px 0 10px 0;
    display: inline-block;
    border-radius: 20px;
    border: none;
    background: #f1f1f1;
  }
  
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


.clearfix{
    margin-top: 20px;
}



.clearfix input[type="button"], .clearfix input[type="submit"]{
    display: inline;
    float: left;
    width: 50%;
}

.cancelbtn{
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.6;
    border-radius: 20px;
}
.cancelbtn:hover, .loginbtn:hover{
    opacity: 0.8;
}
.loginbtn{
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.6;
    border-radius: 20px;
}
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 600px) {
    #btnLogin, #btnCancel {
      width: 100%;
    }
    #formaLogin{
        width: 100%;
        height: 80%;
    }
  }

/*=======================================
    GENERAL STYLES
==================================================*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
          font-family:'Open Sans', sans-serif;
    font-size:14px;
}


.text-center {
    text-align:center;
}


h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
}
.alg-right-pad {
    float:right;
    padding-right:20px;
}
a:hover {
    text-decoration:none;
}

/*=======================================
  NAVBAR ADJUSTMENTS
==================================================*/
.navbar-brand {
font-size: 25px;
padding: 15px 80px 15px 60px;
}
.navbar-default .navbar-brand {
color: #000000;
}
.navbar-default {
background-color: #000000;
border-color: #000000;
}
.navbar {
 border-radius: 0px; 
}
.navbar-default .navbar-nav > li > a {
color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover {
color: #FFF;
}

.navbar-default .navbar-brand {
color: #FFFFFF;
}
.navbar-default .navbar-brand:hover {
color: #FFFFFF;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #050505;
background-color: #FFFFFF;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
color: #000;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
color: #000;
}
/*=======================================
  BOOTSTRAP ADJUSTMENTS
==================================================*/
.row {
    margin-bottom:10px;
}
.btn {
    margin-bottom:5px;
}
/*=======================================
  INDEX PAGE
==================================================*/

.box-border {
    border:1px solid #e1e1e1;
}

.product-box h3>a,.product-box h3>a:hover,.product-box h3>a:focus {
    color:#000;
    text-decoration:none;
}

.offer-box {
background-color: #6A75F0;
border: 1px solid #096FC0;
color: #fff;
font-weight: 900;
font-size:16px;
}
    .offer-box a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: normal;
    }
    .offer-box a:hover {
        color:#000;
    }
.list-group a {
   
    font-size:14px;
    font-weight:900;
    color:#808080;
}
.list-group a:hover {
     color:#000;
    text-decoration:none;
}
.offer-colors {
   background-color: #B05FDD;
border: 1px solid #A228F3;
}

.download-app-box {
    background-color: #069E98;
border: 1px solid #0FAA8B;
padding:30px;
line-height:40px;
font-size:25px;
font-weight:900;
color:#fff;
}
/*=======================================
  SLIDER main-style.css Changes
==================================================*/
.mi-slider {
margin-top: 0px;
}

.offer-text
{
position: absolute;
color: #FFF;
padding: 14px 16px 12px 16px;
margin-top: 10px;
background-color:#18b424;

}
.offer-text2
{
position: absolute;
color: #FFF;
padding: 14px 16px 12px 16px;
margin-top: 10px;
background-color:#EB0429;

}
/*=======================================
  FOOTER SECTION
==================================================*/
.footer-box {
    background-color:#F5F5F5;
    padding:20px 50px 20px 50px;
    
    
}
.small-box {
    font-size:10px;
}

.footer-box a {
    color:#808080;
    text-decoration:none;
}
.footer-box a:hover {
    color:#000;
}
.pad-botom {
    padding-bottom:30px;
}
.footer-box p {
    padding-top:15px;
    padding-bottom:15px;
    line-height:25px;
}
.social-box a{
     color:#333436;
    text-decoration:none;
}

.end-box {
    padding:20px;
     color:#fff;
     background-color:#000;
     font-size:14px;
}