<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Register Box -->
            <div class="col-md-6 col-md-offset-3 col-sm-offset-3">
                <form class="signup-page" (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
                    <div class="signup-header">
                        <h2>Register a new account</h2>
                        <p>Already a member? Click
                            <a routerLink="/login">HERE</a>to login to your account.</p>
                    </div>
                    <label>First Name
                        <span class="color-red">*</span>
                    </label>
                    <input class="form-control margin-bottom-20"  name="firstName" [(ngModel)]="firstName" type="text"
                    ngModel required minlength="5" maxlength="25" #fName="ngModel"
                    > 
                    <div class="alert alert-danger" role="alert" *ngIf="!fName.valid && fName.touched">
                        Please enter valid First Name
                    </div>

                    <label>Last Name
                        <span class="color-red">*</span>
                    </label>
                    <input class="form-control margin-bottom-20" name="lastName" [(ngModel)]="lastName" type="text"
                    ngModel required minlength="5" maxlength="25" #lName="ngModel">
                    <div class="alert alert-danger" role="alert" *ngIf="!lName.valid && lName.touched">
                        Please enter valid Last Name
                    </div>

                    <label>Email Address
                        <span class="color-red">*</span>
                    </label>
                    <input class="form-control margin-bottom-20" name="email" [(ngModel)]="email" type="email"
                    ngModel required minlength="5" maxlength="75" email #tbEmail="ngModel"> 
                    <div class="alert alert-danger" role="alert" *ngIf="!tbEmail.valid && tbEmail.touched">
                        Please enter valid Email
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <label>Password
                                <span class="color-red">*</span>
                            </label>
                            <input class="form-control margin-bottom-20" name="password" [(ngModel)]="password" type="password"
                            ngModel required minlength="6" maxlength="50" #tbPass="ngModel">
                            <div class="alert alert-danger" role="alert" *ngIf="!tbPass.valid && tbPass.touched">
                                Please enter valid Password. Password is required filed and must be at least 6 characters.
                            </div>
                            

                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <div class="col-lg-8">
                            <label class="checkbox">
                                <input type="checkbox" ngModel required name="cbhTAC" #TAC="ngModel">I read the
                                <a href="#">Terms and Conditions</a>
                            </label>
                            <div class="alert alert-danger" role="alert" *ngIf="!TAC.valid && TAC.touched">
                                Please accept Terms and Conditions
                            </div>
                        </div>
                        <div class="col-lg-4 text-right">
                            <button class="btn btn-primary" [disabled]="!registerForm.valid" type="submit">Register</button>
                        </div>
                    </div>
                    <div class="alert alert-success" role="alert" [ngStyle]="{display : register ? 'block' : 'none'}">
                        Successfull registration!
                    </div>
                </form>
            </div>
            <!-- End Register Box -->
        </div>
    </div>
</div>