@font-face {
    src: url("RobotoCondensed-Regular.ttf");
    font-family: "RobotoCondensed-Regular";
  }

@font-face {
    src: url("Ubuntu-Regular.ttf");
    font-family: "Ubuntu-Regular";
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 100%;
    font-family: "RobotoCondensed-Regular";
}

ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color:white;
}

.cistac{
    clear: both;
}


div{
    display: block;
}

#header{
    width: 100%;
    height: 11%;
    background-color: rgba(12, 0, 5, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    color: #f5f5dc;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius: 40%;
}
.okvir{
    width: 90%;
    margin: 0px auto;
    /*border: 2px dotted black;*/
    position: relative;
    top: 20%;
}


.header-sadrzaj{
    width: 33%;
    display: inline-block;
    font-size: 110%;
}

.header-sadrzaj ul li a{
    font-weight: 300;
    font-family: sans-serif;
    color: beige; 
    
}

.header-sadrzaj ul li{
    display: inline-block;
    font-size: 100%;
    margin-right: 20px;
    
}

#centralni-deo{
    text-align: center;
}

#centralni-deo ul li a{
    padding-bottom: 10px;
}

#centralni-deo ul li a:hover{
    border-bottom: 3px solid beige;
}

#lista-mreze {
    text-align: right;
    
}

.okvir a:hover{
    color: rgba(118, 143, 139, 0.884);
}

/*------------------------------------------------------------------------------------------------------------------*/


.pozadina-slika{
    display: inline-block;
    width: 50%;
    height: 100%;
    
    
}

#pozadina-slika-levo{
    color: white;
    background-color: rgb(48, 92, 45);
}

#pozadina-slika-levo-content{
    width: 80%;
    height: 30%;
    margin: 0px auto;
    margin-top: 25%;
    
}

#pozadina-slika-levo-content h1 {
    font-size: 350%;
}

#pozadina-slika-levo-content p:first-of-type{
    margin-top: 12%;
}

#pozadina-slika-levo-content p{
    font-size: 130%;
    margin-top: 5%;
}

#pozadina-slika-desno{
    float: right; 
    background-image: url(../slike/galerija/galerija-slike-20.jpg);
    background-size: cover;
    position: relative;
}

#tekst{
    width: 70%;
    height: 30%;
    position: absolute;
    top: 25%;
    left: 20%;
    background-color: cornflowerblue;
}



#strelica-header{
    height: 100px;
    width: 100px;
    background-color: rgba(93, 121, 116, 0.4);
    border-radius: 50% 50%;
    position: fixed;
    right: 25px;
    bottom: 25px;
    padding: 5px;
    z-index: 3;
}

#arrow-up{
    position: absolute;
    font-size: 90px;
    color: beige;
    top: 8px;
    left: 13px;
}

#galerija-linija{
    width: 100%;
    height: 25%;
    position: relative;
}

#galerija-linija hr{
    position: absolute;
    margin: 0px auto;
    width: 95%;
    background: rgb(48, 92, 45); 
    height: 2px;
    left: 2.5%;
    top: 50%;
}

#galerija-linija-slika{
    background-color: white;
    padding: 2%;
    position: absolute;
    left: 50%;
    top: 15%;
    z-index: 2;
    margin: 0 0 0 -60px;

}

#galerija-naslov{
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 140%;
}

#galeija-naslov1{
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 130%;
    margin-top: 5%;
}

#galeija-naslov2{
    width: 100%;
    height: 15%;
    text-align: center;
    font-size: 130%;
    margin-top: 5%;
}

#galerija-content{
    width: 95%;
    margin: 0px auto;
    /*background-color: cadetblue;*/
    display: flex;
    justify-content: space-between;
}

#galerija-content1{
    width: 95%;
    margin: 0px auto;
    /*background-color: cadetblue;*/
    display: flex;
    justify-content: space-between;
}

.kolona{
    width: 20%;
    /*background-color: darkblue;*/
    display: flex;
    flex-direction: column;
}

.galerija-slika{
    border: 3px solid rgb(48, 92, 45);
    padding: 4px;
    margin: 0% 0% 20% 0%;
    transition: 0.5s;
}

.galerija-slika:hover{
    padding: 0;
    border: 1px solid rgb(48, 92, 45);
}

.galerija-slika img{
    width: 100%;
}


/*-----------------------------------------------------------------------------------------------------------*/

#footer{
    width: 100%;
    height: 30%;
    background-color: rgb(12, 19, 31);
    position: relative;
    bottom: 0%;
    
}

#footer-okvir{
    display: flex;
    justify-content: space-around; 
    padding-top: 1.5%;
}

.footer-content {
    width: 20%;
    height: 80%;
}

#footer-email{
    color:white;
}

.footer-content ul li a{
    color: rgb(96, 132, 216);
}

.footer-content ul li {
    padding-top: 4%;
    color: white;
    font-size: 90%;
    text-align: center;
}

.footer-ikone{
    font-size: 100%;
}