<div id="content">
    <div class="container background-white">
        <div class="container">
            <div class="row margin-vert-30">
                <!-- Login Box -->
                <div class="col-md-6 col-md-offset-3 col-sm-offset-3">
                    <form class="login-page" (ngSubmit)="onSubmit(f)" #f="ngForm">
                        <div class="login-header margin-bottom-30">
                            <h2>Login to your account</h2>
                        </div>
                        <div class="input-group margin-bottom-20">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input placeholder="Email" class="form-control" type="email" name="email" ngModel>
                        </div>
                        <div class="input-group margin-bottom-20">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input placeholder="Password" class="form-control" name="password" type="password" ngModel>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="checkbox">
                                    <input type="checkbox">Stay signed in</label>
                            </div>
                            
                            <div class="col-md-6">
                                <button class="btn btn-primary pull-right" type="submit" >Login</button>
                            </div>
                        </div>
                        <hr>
                        <div class="alert alert-danger" [ngStyle]="{display : error ? 'block' : 'none'}" role="alert">
                            Wrong email or password!
                        </div>
                        <div class="alert alert-success" [ngStyle]="{display : loggedUser ? 'block' : 'none'}" role="alert">
                            Successfull login!
                        </div>
                    </form>
                </div>
                <!-- End Login Box -->
            </div>
        </div>
    </div>
</div>