<div class="blog-post padding-bottom-20">
    <!-- Blog Item Header -->
    <div class="blog-item-header">
        <!-- Title -->
        <h2>
            <a [routerLink]="['/post',post.id]">
                {{ (post.title.length > 37) ? (post.title | titlecase | slice:0:38) + "..." : (post.title | titlecase) }}</a>
        </h2>
        <div class="clearfix"></div>
        <!-- End Title -->
        <!-- Date -->
        <div class="blog-post-date">
            <a >{{post.createdAt | date}}</a>
        </div>
        <!-- End Date -->
    </div>
    <!-- End Blog Item Header -->
    <!-- Blog Item Details -->
    <div class="blog-post-details">
        <!-- Author Name -->
        <div class="blog-post-details-item blog-post-details-item-left">
            <i class="fa fa-user color-gray-light"></i>
            <a> {{post.author.firstName + " " + post.author.lastName}}</a>
        </div>
        <!-- End Author Name -->
        <!-- Tags -->
        <div class="blog-post-details-item blog-post-details-item-left blog-post-details-tags">
            <i class="fa fa-tag color-gray-light"></i>
            <a >{{post.tags}}</a>
        </div>
        <!-- End Tags -->
        <!-- # of Comments -->
        <div class="blog-post-details-item blog-post-details-item-left blog-post-details-item-last">
            <a >
                <i class="fa fa-comments color-gray-light"></i>
                {{ post.comments.length + " Comments" }}
            </a>
        </div>
        <!-- End # of Comments -->
    </div>
    <!-- End Blog Item Details -->
    <!-- Blog Item Body -->
    <div class="blog">
        <div class="clearfix"></div>
        <div class="blog-post-body row margin-top-15">
            <div class="col-md-5">
                <a ><img class="margin-bottom-20" src="{{post.images.medium}}" alt="{{post.images.alt}}"></a>
            </div>
            <div class="col-md-7">
                <p>{{(post.content | slice:0:350) + "..."}}</p>
                <!-- Read More -->
                <a [routerLink]="['/post',post.id]" class="btn btn-primary">
                    Read More
                    <i class="icon-chevron-right readmore-icon"></i>
                </a>
                <!-- End Read More -->
            </div>
        </div>
    </div>
    <!-- End Blog Item Body -->
</div>